[flake8]
max-line-length = 88
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    env,
    migrations,
    .tox,
    build,
    dist,
    *.egg-info

ignore =
    E203,
    E501,
    W503,
    F401

per-file-ignores =
    __init__.py:F401
    settings.py:E501
    settings_prod.py:E501

max-complexity = 10
